/* ПОДКЛЮЧАЕМ ШРИФТЫ */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px; /* по умолчанию */
}
body {
  line-height: 1;
  /* color: #fff; */
  /* background-color: #333; */
  font-family: "Roboto";
}
.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ------------------------------ */

._container {
  max-width: 1020px;
}
.fullscreen {
  background: url("../img/BG_Image.png") 0 0 / cover no-repeat;
  display: flex;
  min-height: 100vh;
}
.fullscreen__body {
  flex: 1 1 auto;
  padding: 26px 0px 0px 0px;
}
.header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header__info {
}
.info-header {
  margin: 0px 0px 28px 0px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header__logo {
}
.header__contacts {
}
.contacts-header {
  display: flex;
  flex-wrap: wrap;
}
.contacts-header__hours {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: #ffffff;
  margin: 0px 30px 0px 0px;
}
.contacts-header__hours::before {
  content: "";
  background: url("../img/access_time_24px.svg");
  width: 24px;
  height: 24px;
  margin: 0px 10px 0px 0px;
}
.contacts-header__call {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.15px;
  color: #ffffff;
  margin: 0px 32px 0px 0px;
}
.contacts-header__call::before {
  content: "";
  background: url("../img/phone_24px.svg");
  width: 24px;
  height: 24px;
  margin: 0px 10px 0px 0px;
}
.contacts-header__link {
  flex: 0 1 211px;
  width: 211px;
  background: #f2726f;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9px 0px;
}
.contacts-header__link a {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.contacts-header__link:hover {
  box-shadow: 0 0 5px #643a39;
}

/* ========================================== */

.header__navbar {
}
.navbar-header {
  max-width: 1020px;
  flex: 1 1 100%;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px 48px 10px 40px;
}
.navbar-header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 100%;
}
.navbar-header__links {
  display: flex;
  flex-direction: row;
  flex: 1 1 50%;
  flex-wrap: wrap;
}
.navbar-header__link {
}
.navbar-header__link a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
}
.navbar-header__link:hover a {
  color: #f2726f;
  font-size: 15px;
  transition-duration: 0.3s;
}
.navbar-header__sub-links {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 20px;
  display: none;
}
.navbar-header__sub-link {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
}
.navbar-header__link:hover .navbar-header__sub-links {
  display: block;
  font-size: 16px;
}
.test:hover .test-item {
  display: block;
}
.navbar-header__link:nth-child(1) {
  position: relative;
}
.navbar-header__link:nth-child(1) a::after {
  content: "";
  background: url("../img/expand_more_24px.svg");
  width: 16px;
  height: 16px;
  margin: 0px 0px 0px 1px;
}
.navbar-header__link:nth-child(1):hover a::after {
  transform: rotate(180deg);
  transition-duration: 0.2s;
}
.navbar-header__link:nth-child(5) a::after {
  content: "";
  background: url("../img/expand_more_24px.svg");
  width: 16px;
  height: 16px;
  margin: 0px 0px 0px 1px;
}
.navbar-header__link:nth-child(5):hover a::after {
  transform: rotate(180deg);
  transition-duration: 0.2s;
}
.navbar-header__link:not(:last-child) {
  margin: 0px 37px 0px 0px;
}
.navbar-header__icons {
  display: flex;
  flex-direction: row;
}
.navbar-header__icon {
}
.navbar-header__icon:hover img {
  transform: scale(1.4);
  transition-duration: 0.4s;
}
.navbar-header__icon:not(:last-child) {
  margin: 0px 22px 0px 0px;
}

/* =========================================== */

@media (max-width: 1050px) {
  ._container {
    margin: 0px 25px;
  }
}
@media (max-width: 840px) {
  .header__logo {
    flex: 1 1 100%;
  }
  .contacts-header {
    flex: 1 1 100%;
    justify-content: space-between;
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .contacts-header:not(:last-child) {
    flex: 1 0 auto;
  }
  .contacts-header__link {
  }
  .call-header {
    flex: 1 1 25%;
    align-items: center;
    justify-content: center;
  }
  .hours-header {
    flex: 1 1 25%;
  }
  .contacts-header__link {
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .navbar-header__link:last-child {
    margin: 0px 20px 0px 0px;
  }
}
@media (max-width: 737.98px) {
  .navbar-header__link {
    flex: 1 1 20%;
  }
}
@media (max-width: 520.98px) {
  .navbar-header__link {
    flex: 1 1 30%;
  }
}
@media (max-width: 430.98px) {
  .navbar-header__link {
    flex: 1 1 50%;
  }
}
@media (max-width: 360px) {
  .navbar-header__icons {
    flex-direction: column;
    gap: 20px;
  }
  .navbar-header__links {
    display: flex;
    flex-direction: column;
  }
}
