/* ПОДКЛЮЧАЕМ ШРИФТЫ */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");
@import "_null";

/* ------------------------------ */
@mixin flexDirectionColumn() {
  display: flex;
  flex-direction: column;
}
/* ------------------------------ */

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include flexDirectionColumn();
}

.main {
  flex: 1 1 auto;
}

._ibg {
  position: relative;
}
._ibg img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* ======================================================== */

.header {
  // .header__container
  &__container {
  }

  // .header__contact-info
  &__contact-info {
  }

  // .header__navigation-bar
  &__navigation-bar {
  }
}

.info-contact {
  background: #020202;
  padding: 10px 0px;
  min-height: 44px;

  // .info-contact__container
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
    @media (max-width: 1490px) {
      margin: 0px 40px;
    }
  }

  // .info-contact__time
  &__time {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #a2a6b0;
  }

  // .info-contact__adress
  &__adress {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #acacac;
    @media (max-width: 890px) {
      margin: 0px 40px;
    }
    @media (max-width: 706px) {
      margin: 0px;
    }
  }

  // .info-contact__contacts
  &__contacts {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
}

.contacts {
  // .contacts__phone
  &__phone {
    margin: 0px 14px 0px 0px;
  }

  // .contacts__facebook
  &__facebook {
    margin: 0px 8px 0px 0px;
  }

  // .contacts__instagram
  &__instagram {
  }
}

.bar-navigation {
  display: flex;
  height: 92px;
  max-height: 92px;

  &__container {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    @media (max-width: 1490px) {
      margin: 0px 40px;
    }
  }

  // .bar-navigation__logo
  &__logo {
    margin: 0px 0px 0px 25px;
    align-items: center;
    display: flex;
    @media (max-width: 1295px) {
      margin: 0px 25px 0px 0px;
    }
  }

  // .bar-navigation__links
  &__links {
    display: flex;
    align-items: center;
  }

  // .bar-navigation__link
  &__link {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin: 0px 35px 0px 0px;
    }
    @media (max-width: 1225px) {
      &:not(:last-child) {
        margin: 0px 15px 0px 0px;
      }
    }
  }

  // .bar-navigation__icons
  &__icons {
    display: flex;
    align-items: center;
    @media (max-width: 1295px) {
      margin: 0px 0px 0px 35px;
    }
  }

  // .bar-navigation__icon
  &__icon {
    &:not(:last-child) {
      margin: 0px 25px 0px 0px;
    }
  }
}

/* ======================================== */

.footer {
  // .footer__body

  &__body {
  }
}
.body-footer {
  background: #020203;
  padding: 47px 0px 17px 0px;
  // .body-footer__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
    @media (max-width: 1490px) {
      margin: 0px 40px;
    }
  }

  // .body-footer__news
  &__news {
    margin: 0px 0px 47px 0px;
  }

  // .body-footer__informations
  &__informations {
  }

  // .body-footer__copyright
  &__copyright {
  }
}

.news-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media (max-width: 950px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .news-footer__signup
  &__signup {
    flex: 1 1 auto;
    @media (max-width: 950px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px 0px 30px 0px;
    }
  }

  // .news-footer__main-text
  &__main-text {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 132.5%;
    color: #ffffff;
    margin: 0px 0px 9px 0px;
  }

  // .news-footer__sub-text
  &__sub-text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 132.5%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  &__form {
    display: flex;
    column-gap: 23px;
  }

  // .news-footer__input
  &__input {
    flex: 1 1 auto;
    input {
      background: #000000;
      border: 2px solid #ffffff;
      box-sizing: border-box;
      border-radius: 4px;
      flex: 1 1 391px;
      padding: 0px 10px;
      min-height: 50px;
      &::placeholder {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        // align-items: center;
        // text-align: center;
        color: #ffffff;
      }
    }
  }

  // .news-footer__button
  &__button {
    background: #0156ff;
    border-radius: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 19px 40px;

    color: #ffffff;
  }
}
.informations-body {
  display: flex;
  flex: 1 1 20%;
  margin: 0px 0px 54px 0px;
  flex-wrap: wrap;
  @media (max-width: 1279px) {
    justify-content: space-between;
  }

  // .informations-body__information
  &__information {
  }

  // .informations-body__information-item
  &__information-item {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #ffffff;
    &:first-child {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 100%;
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.5);
      margin: 0px 0px 30px 0px;
    }
  }

  // .informations-body__pc
  &__pc {
  }

  // .informations-body__pc-item
  &__pc-item {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #ffffff;
    &:first-child {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 100%;
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.5);
      margin: 0px 0px 30px 0px;
    }
  }

  // .informations-body__desktop
  &__desktop {
  }
  &__desktop-item {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #ffffff;
    &:first-child {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 100%;
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.5);
      margin: 0px 0px 30px 0px;
    }
  }

  // .informations-body__laptops
  &__laptops {
  }

  // .informations-body__laptops-item
  &__laptops-item {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #ffffff;
    &:first-child {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 100%;
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.5);
      margin: 0px 0px 30px 0px;
    }
  }

  // .informations-body__address
  &__address {
  }

  // .informations-body__address-item
  &__address-item {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #ffffff;
    &:first-child {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 100%;
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.5);
      margin: 0px 0px 30px 0px;
    }
  }
}
.body-information {
  &:not(:last-child) {
    margin: 0px 78px 0px 0px;
    @media (max-width: 1279px) {
      margin: 0px 78px 30px 0px;
    }
  }
}

.copyright-footer {
  display: flex;
  justify-content: space-between;
  // .copyright-footer__social
  &__social {
    display: flex;
    flex-direction: row;
  }

  // .copyright-footer__facebook
  &__facebook {
  }

  // .copyright-footer__instagram
  &__instagram {
  }

  // .copyright-footer__payment
  &__payment {
  }

  // .copyright-footer__copyright
  &__copyright {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 132.5%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #ffffff;
    opacity: 0.6;
  }
}
.icons {
  &:not(:last-child) {
    margin: 0px 11px 0px 0px;
  }
}

.payment-footer {
  display: flex;
  flex-direction: row;
  // .payment-footer__paypall
  &__paypall {
  }

  // .payment-footer__visa
  &__visa {
  }

  // .payment-footer__maestro
  &__maestro {
  }

  // .payment-footer__discover
  &__discover {
  }

  // .payment-footer__american-exoress
  &__american-exoress {
  }
}
