/* ПОДКЛЮЧАЕМ ШРИФТЫ */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px; /* по умолчанию */
}
body {
  line-height: 1;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* ------------------------------ */

.block {
  max-width: 900px;
  margin: 0 auto 50px;
}

.block h2 {
  padding: 20px;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 24px;
  font-weight: bold;
}

.block__content-1,
.block__content-2,
.block__content-3 {
  padding: 12px;
  border: 1px solid rgb(37, 36, 36);
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgb(121, 119, 119);
}

.content-1__text {
}

.content-1__text > div {
  margin-bottom: 40px;
}

.text-1 {
  letter-spacing: 4px;
  word-spacing: 4px;
  font-family: "Noto Serif", serif;
}

.content-1__text .text-2 {
  font-size: 28px;
  font-weight: 900;
}

.text-3 {
  opacity: 0.6;
}

.block__content-2 {
  width: 300px;
  height: auto;
  text-align: center;
  margin: 0 auto 30px;
}

.content-2__text > div {
  margin-bottom: 30px;
  padding-top: 10px;
}

.content-2__text img {
  width: 60px;
  height: 60px;
}

.content-2__text .text-1 {
  font-weight: 900;
}

.title h3 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

#h3-text {
  font-size: 22px;
}

.text-body {
  margin-bottom: 40px;
}

.text-body h4 {
  font-weight: bold;
  margin-bottom: 40px;
}

.some__text {
  margin-bottom: 30px;
}

.img__item {
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50px 50px 50px 0px;
}

.part1 {
  margin-bottom: 30px;
}

.text-3 a {
  border: 2px solid rgb(202, 121, 62);
  padding: 20px;
  border-radius: 50px;
  color: #fff;
  background-color: rgba(168, 106, 11, 0.924);
}

.__class-width {
  width: 550px;
  padding: 50px;
}

.blue-line {
  border-bottom: 3px solid rgb(32, 35, 194);
  width: 100%;
}

.link a {
  font-weight: bold;
  color: orange;
}

#lorem-text {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -2px;
}

.__class-block-1 {
  width: 550px;
  padding-bottom: 10px;
}

.__photo img {
  width: 100%;
  height: 200px;
}

.__block-content {
  width: 450px;
  text-align: left;
}

.__photo .text-1,
.text-2 {
  padding: 30px;
}

.__photo .text-1 {
  margin-bottom: 10px;
}

#blue-text {
  color: blue;
  font-size: 20px;
  font-weight: bold;
}
